:host {
  display:inline-block;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(0,0,0,.35), 0 3px 2px 0 rgba(0,0,0,.18);
  margin-bottom: 10px;
}
h1 {
  border-radius: 4px 4px 0 0;
  padding: 10px 15px;
  border-bottom: 1px solid #ccc;
  margin: 0;
}
.body {
  padding:15px;
}